img {
    width: 100px;
    height: 50px;
    margin: 100px 5px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
    margin-bottom: 200px;
    background-color: #ddfafa;
}