.clb2 li {
    background-size: 170px;
    background-repeat: no-repeat;
    background-position: center;
}

.yncbjg {
    background-image:
        url(./img/yebao/Cheirotonus-battareli-.jpg);
}

.twbjg {
    background-image:
        url(./img/yebao/Cheirotonus-formosanus.jpg);
}

.fscbjg {
    background-image:
        url(./img/yebao/Cheirotonus-fujiokai.jpg);
}

.gcbjg {
    background-image:
        url(./img/yebao/Cheirotonus-gestroi-.jpg);
}

.ycbjg {
    background-image:
        url(./img/yebao/Cheirotonus-jansoni.jpg);
}

.ydcbjg {
    background-image:
        url(./img/yebao/Cheirotonus-macleayii.jpg);
}

.zzscbjg {
    background-image:
        url(./img/yebao/Cheirotonus-terunumai.jpg);
}

.dsbjg {
    background-image:
        url(./img/yebao/Propomacrus-davidi-.jpg);
}

.mszbjg {
    background-image:
        url(./img/yebao/Propomacrus-muramotoae.jpg);
}

.xjyxjg {
    background-image:
        url(./img/yebao/Eupatorus-gracilicornis-.jpg);
}

.cyxjg {
    background-image:
        url(./img/yebao/Eupatorus-hardwickii-.jpg);
}

.dcxjg {
    background-image:
        url(./img/yebao/Trypoxylus-davidis-.jpg);
}

.hmjql {
    background-image:
        url(./img/yebao/Heliocopris-bucephalus-.jpg);
}

.sdjql {
    background-image:
        url(./img/yebao/Heliocopris-dominus.jpg);
}

.mdsql {
    background-image:
        url(./img/yebao/Heliocopris-midas.jpg);
}

.bsql {
    background-image:
        url(./img/yebao/Scarabaeus-babori.jpg);
}

.aszql {
    background-image:
        url(./img/yebao/Scarabaeus-erichsoni.jpg);
}

.addqj {
    background-image:
        url(./img/yebao/Dorcus-antaeus-.jpg);
}

.jcssqj {
    background-image:
        url(./img/yebao/Lucanus-hermani.jpg);

}

.sbj {
    background-image:
        url(./img/yebao/Carabus-davidi.jpg);

}

.wsdbj {
    background-image:
        url(./img/yebao/Carabus-ishizukai.jpg);
}

.kbdbj {
    background-image:
        url(./img/yebao/Carabus-kubani-.jpg);
}

.lbj {
    background-image:
        url(./img/yebao/Carabus-lafossei.jpg);
}

.xxdbj {
    background-image:
        url(./img/yebao/Carabus-osawai.jpg);
}

.dcdbj {
    background-image:
        url(./img/yebao/Carabus-yunanensis.jpg);
}

.dwcyj {
    background-image:
        url(./img/yebao/Syntelia-davidis-.jpg);
}

.mscyj {
    background-image:
        url(./img/yebao/Syntelia-mazuri.jpg);
}

.zhcyj {
    background-image:
        url(./img/yebao/Syntelia-sinica.jpg);
}

.ewfd {
    background-image:
        url(./img/yebao/Bhutanitis-mansfieldi.jpg);
}

.swfd {
    background-image:
        url(./img/yebao/Bhutanitis-thaidina.jpg);
}

.dwfd {
    background-image:
        url(./img/yebao/Bhutanitis-lidderdalii.jpg);
}

.bdwfd {
    background-image:
        url(./img/yebao/Bhutanitis-ludlowi.jpg);
}

.xcwfd {
    background-image:
        url(./img/yebao/Bhutanitis-nigrilima-.jpg);
}

.lbwfd {
    background-image:
        url(./img/yebao/Bhutanitis-pulchristriata.jpg);
}

.ylwfd {
    background-image:
        url(./img/yebao/Bhutanitis-yulongensisn.jpg);
}

.cwfd {
    background-image:
        url(./img/yebao/Losaria-coon.jpg);
}

.jbhfd {
    background-image:
        url(./img/yebao/Teinopalpus-aureus-.jpg);
}

.hfd {
    background-image:
        url(./img/yebao/Teinopalpus-imperialis.jpg);
}

.jcfd {
    background-image:
        url(./img/yebao/Troides-aeacus-.jpg)
}

.nycfd {
    background-image:
        url(./img/yebao/Troides-amphrysus-amphrysus-male.jpg)
}

.kcfd {
    background-image:
        url(./img/yebao/Troides-criton-criton-male.jpg)
}

.xwcfd {
    background-image:
        url(./img/yebao/Troides-cuneifera-cuneifera-male.jpg)
}

.xbcfd {
    background-image:
        url(./img/yebao/Troides-haliphron-haliphron.jpg)
}

.cfd {
    background-image:
        url(./img/yebao/Troides-helena-helena-male.jpg)
}

.ygcfd {
    background-image:
        url(./img/yebao/Troides-magellanus-.jpg)
}

.zhhfd {
    background-image:
        url(./img/yebao/Luehdorfia-chinensis.jpg)
}

.jzjd {
    background-image:
        url(./img/yebao/Parnassius-imperator.jpg)
}

.abljd {
    background-image:
        url(./img/yebao/Parnassius-apollo.jpg)
}

.hzjd {
    background-image:
        url(./img/yebao/Sasakia-funebris.jpg)
}

.zmzjd {
    background-image:
        url(./img/yebao/Sasakia-pulcherrima.jpg)
}

.dbmhd {
    background-image:
        url(./img/yebao/Maculinea-arionides.jpg)
}

.xsbhd {
    background-image:
        url(./img/yebao/Phengaris-xiushan.jpg)
}

.lyx {
    background-image:
        url(./img/yebao/Phyllium-pulchrifolium.jpg)
}

.zhyx {
    background-image:
        url(./img/yebao/Phyllium-sinensis.jpg)
}

.dfyx {
    background-image:
        url(./img/yebao/Phyllium-siccifolium.jpg)
}

.zyx {
    background-image:
        url(./img/yebao/Cryptophyllium\ tibetense.jpg)
}

.fyx {
    background-image:
        url(./img/yebao/Cryptophyllium-celebicum.jpg)
}

.dlyx {
    background-image:
        url(./img/yebao/Cryptophyllium-drunganum.jpg)
}

.tyx {
    background-image:
        url(./img/yebao/Cryptophyllium-parum.jpg)
}

.zyx {
    background-image:
        url(./img/yebao/Cryptophyllium-rarum.jpg)
}

.xyx {
    background-image:
        url(./img/yebao/Cryptophyllium-westwoodii.jpg)
}

.dyx {
    background-image:
        url(./img/yebao/Cryptophyllium-yunnanense.jpg)
}

.nwxct {
    background-image:
        url(./img/yebao/Heliogomphus-retroflexus.jpg)
}

.jjswct {
    background-image:
        url(./img/yebao/Ophiogomphus-spinicornis.jpg)
}

.zzjl {
    background-image:
        url(./img/yebao/Nemopistha-sinica.jpg)
}



.csxql {
    background-image:
        url(./img/yebao/Grylloblattella-cheni.jpg)
}

.zzqcc {
    background-image:
        url(./img/yebao/Zorotypus-sinensis.jpg)
}

.mtqcc {
    background-image:
        url(./img/yebao/Zorotypus-medoensis.jpg)
}

.sdxjg {
    background-image:
        url(./img/yebao/Dynastes-satanas.jpg)
}

.bskq {
    background-image:
        url(./img/yebao/Colophon-barnardi.jpg)
}

.kskq {
    background-image:
        url(./img/yebao/Colophon-cameroni.jpg)
}

.code {
    background-image:
        url(./img/yebao/Colophon-deschodti.jpg)
}

.kskq {
    background-image:
        url(./img/yebao/Colophon-endroedyi.jpg)
}

.hskq {
    background-image:
        url(./img/yebao/Colophon-haughtoni.jpg)
}

.yskq {
    background-image:
        url(./img/yebao/Colophon-izardi.jpg)
}

.cjkq {
    background-image:
        url(./img/yebao/Colophon-kawaii-.jpg)
}

.skq {
    background-image:
        url(./img/yebao/Colophon-montisatris.jpg)
}

.nskq {
    background-image:
        url(./img/yebao/Colophon-neli-.jpg)
}

.oskq {
    background-image:
        url(./img/yebao/Colophon-oweni-.jpg)
}

.pskq {
    background-image:
        url(./img/yebao/Colophon-primosi.jpg)
}

.sskq {
    background-image:
        url(./img/yebao/Colophon-stokoei.jpg)
}

.cost {
    background-image:
        url(./img/yebao/Colophon-struempheri.jpg)
}

.cosw {
    background-image:
        url(./img/yebao/Colophon-switalae.jpg)
}

.tskq {
    background-image:
        url(./img/yebao/Colophon-thunbergi.jpg)
}

.wskq {
    background-image:
        url(./img/yebao/Colophon-westwoodi-.jpg)
}

.huaiskq {
    background-image:
        url(./img/yebao/Colophon-whitei.jpg)
}

.zanque {
    background-image:
        url(./img/yebao/zanque.jpg)
}

.hwjd {
    background-image:
        url(./img/yebao/Agrias-amydon-boliviensis-male.jpg)
}

.cajd {
    background-image:
        url(./img/yebao/Prepona-praeneste-buckleyana-male.jpg)
}

.jsd {
    background-image:

        url(./img/yebao/Morpho-godarti-lachaumei-male.jpg)
}

.ssfd {
    background-image:
        url(./img/yebao/Atrophaneura-jophon.jpg)
}

.ysfd {
    background-image:
        url(./img/yebao/Atrophaneura-pandiyana.jpg)
}

.hdny {
    background-image:
        url(./img/yebao/Ornithoptera-aesacus.jpg)
}

.ylsdny {
    background-image:
        url(./img/yebao/Ornithoptera-alexandrae.jpg)
}

.altny {
    background-image:
        url(./img/yebao/Ornithoptera-allotei.jpg)
}

.orar {
    background-image:
        url(./img/yebao/Ornithoptera-arfakensis-occidentalis.jpg)
}

.yjny {
    background-image:
        url(./img/yebao/Ornithoptera-chimaera-chimaera.jpg)
}

.hny {
    background-image:
        url(./img/yebao/Ornithoptera-croesus-croesus.jpg)
}

.glyny {
    background-image:
        url(./img/yebao/Ornithoptera-goliath.jpg)
}

.swny {
    background-image:
        url(./img/yebao/Ornithoptera-meridionalis.jpg)
}

.gwny {
    background-image:
        url(./img/yebao/Ornithoptera-paradisea.jpg)
}

.lny {
    background-image:
        url(./img/yebao/Ornithoptera-priamus-priamus.jpg)
}

.lsmny {
    background-image:
        url(./img/yebao/Ornithoptera-richmondia.jpg)
}

.huangny {
    background-image:
        url(./img/yebao/Ornithoptera-rothschildi.jpg)
}

.tny {
    background-image:
        url(./img/yebao/Ornithoptera-tithonus-tithonus.jpg)
}

.lanny {
    background-image:
        url(./img/yebao/Ornithoptera-urvillianus.jpg)
}

.wdlyny {
    background-image:
        url(./img/yebao/Ornithoptera-victoriae-victoriae.jpg)
}

.szny {
    background-image:
        url(./img/yebao/Ornithoptera-euphorion.jpg)
}

.lscfd1 {
    background-image:
        url(./img/yebao/Papilio-chikae-chikae.jpg)
}

.lscfd2 {
    background-image:
        url(./img/yebao/papilio-chikae-hermeli.jpg)
}

.kxjfd {
    background-image:
        url(./img/yebao/Papilio-hospiton.jpg)
}

.hmfd {
    background-image:
        url(./img/yebao/Papilio-homerus.jpg)
}

.bqef {
    background-image:
        url(./img/yebao/Parides-burchellanus.jpg)
}

.jlmacfd {
    background-image:
        url(./img/yebao/Troides-andromache-andromache-male.jpg)
}

.troce {
    background-image:
        url(./img/yebao/Troides-celebensis-male.jpg)
}

.sllkcfd {
    background-image:
        url(./img/yebao/Troides-darsius-cambyses-male.jpg)
}

.hhcfd {
    background-image:
        url(./img/yebao/Troides-dohertyi-female.jpg)
}

.hbcfd {
    background-image:
        url(./img/yebao/Troides-hypolitus-hypolitus-male.jpg)
}

.ydcfd {
    background-image:
        url(./img/yebao/Troides-minos-male.jpg)
}

.zcfd {
    background-image:
        url(./img/yebao/Troides-miranda-miranda-male.jpg)
}

.cbcfd {
    background-image:
        url(./img/yebao/Troides-oblongomaculatus-oblongomaculatus-male.jpg)
}

.dwdcfd {
    background-image:
        url(./img/yebao/Troides-plato-male.jpg)
}

.bldcfd {
    background-image:
        url(./img/yebao/Troides-prattorum-male-.jpg)
}

.flbcfd {
    background-image:
        url(./img/yebao/Troides-rhadamantus-rhadamantus-female.jpg)
}

.rscfd {
    background-image:
        url(./img/yebao/Troides-riedeli-male.jpg)
}

.sscfd {
    background-image:
        url(./img/yebao/Troides-staudingeri-staudingeri-male.jpg)
}

.fscfd {
    background-image:
        url(./img/yebao/Troides-vandepolli-vandepolli-male.jpg)
}

.cyhkfd {
    background-image:
        url(./img/yebao/Trogonoptera-brookiana-brookiana-male.jpg)
}

.tlyhjfd {
    background-image:
        url(./img/yebao/Trogonoptera-trojana-male.jpg)
}

.zzql {
    background-image:
        url(./img/yebao/zanque.jpg)
}

.kxlbt {
    background-image:
        url(./img/tangLangYuanDun/kxlbt\ \(1\).jpg)
}

.yjskyt {
    background-image:
        url(./img/tangLangYuanDun/yjskyt\ \(3\).jpg)
}

. {
    background-image:
        url(./img/)
}

. {
    background-image:
        url(./img/)
}

. {
    background-image:
        url(./img/)
}